body {
    background: #228B22;
    text-align:center;
}
#main {
    width: 1000px;
    height: 600px;
    background: #add8e6;
    margin: 25px auto;
    border: solid 2px #48ca7a;
    padding: 10px;
}
h1 {
    text-align: center;
    font-family:"Curlz MT";
    font: 20pt;
    color: #48ca7a;
}
hr {
    height: 2px;
    color: #228B22;
}
p {
    font-family:"Calibri";
    font-size: 12pt;
    text-align: left;
    text-indent: 48px;
    margin: 25px;
}