body {
    background: rgb(50, 121, 50);
    /* background-image: url("https://visualcocaine.org/public/uploads/large/11519389095qeqeumqx1ytugzwmap4mthrhrzd6bvrsixgziavorvlpg2fknp9kemjb0kw91ms4fljbwo4pjm4986gvdvr5enfv7gpvxr0ix72e.gif"); */
    text-align:center;
}
main {
    width: 1000px;
    height: 600px;
    background: #7db871;
    margin: 25px auto;
    border: solid 2px #48ca7a;
    padding: 10px;
}
h1 {
    text-align: center;
    font-family:"Times New Roman";
    font: 20pt;
    color: #67dde6;
}
h2 {
    text-align: left;
    font-family:"curlz mt";
}
hr {
    height: 2px;
    color: #228B22;
}
p {
    font-family:"Calibri";
    font-size: 12pt;
    text-align: left;
    text-indent: 48px;
    margin: 25px;
}
img {
    align: center;
}