

.App {
  text-align: center;
  display: grid;
  grid-template: repeat(10, 10%)/ repeat(10, 10%);
  height: 100vh;
  font-family: 'Hind', sans-serif;
  overflow-y: auto;
  background-color: rgba(198, 212, 185, 0.555);
}

h1 {
  grid-row: 2;
  grid-column: 10 span;
}

#homeLink {
  grid-row: 4;
  grid-column: 3/9;
}

.head {
  max-height: 100vh;
  max-width: 100%;
  position: absolute;
  top: 0; 
  right: 0;
  margin-right: 5%;
  font-size: 500%;
  font-weight: bold;
  font-style: italic;
  text-shadow:
		-1px -1px 0 rgba(135, 158, 113, 0.555),
		1px -1px 0 rgba(135, 158, 113, 0.555),
		-1px 1px 0 rgba(135, 158, 113, 0.555),
		1px 1px 0 rgba(135, 158, 113, 0.555);
}

.displayBox {
  background: rgba(255, 255, 255, 0.9);
  border: 2px solid linen;
  grid-row: 3/9;
  grid-column: 3/10;
  display: grid;
  grid-template: repeat(5, 20%)/ repeat(4, 25%);
  border-radius: 10px 15px 10px 15px;
  box-shadow: 5px 5px 0px rgb(206, 200, 193);
}

.menu {
  background-color: white;
  justify-self: center;
  grid-row: 4/7;
  grid-column: 2 span;
  width: 80%;
  max-height: 95%;
  margin-top: 4%;
  border: 2px solid linen;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 5px 5px 0px rgb(206, 200, 193);
  display: flex;
  flex-direction: column;
  align-self: center;
}

.links {
  padding: 4%;
  text-decoration: none;
  color: black;
  font-weight: bold;
  opacity: .7;
}

img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 8%;
  opacity: 1;
}

#me {
  margin: auto;
  opacity: 1;
  grid-row: 3;
  grid-column: 2 span;
  box-shadow: 5px 5px 0px rgb(206, 200, 193);
}

#desc {
  grid-column: 5 span;
  grid-row: 1/3;
  margin-top: 5%;
  margin-right: 5%;
  margin-left: 5%;
  overflow-y: auto;
  text-justify: auto;
  text-align: center;
  opacity: 1;
  border: 1px solid linen;
}

#head2 {
  grid-row: 3;
  text-align: center;
  grid-column: 5 span;
  font-size: 205%;
  opacity: 1;
}

#dogDiv {
  grid-row: 4/6;
  margin-right: 2%;
  margin-left: 2%;
  margin-bottom: 2%;
  grid-column: 4 span;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  border: 2px solid linen;
  border-radius: 2%;
}

.scrollItem {
  display: inline-block;
  margin-left: 2px;
  margin-right: 2px;
}

.scrollItem:hover {
  cursor: pointer;
}

.dog {
  max-height: 22vh;
}

#projectWheel {
  display: inline-block;
  grid-column: 2 span;
  grid-row: 4 span;
  margin: 5%;
  margin-top: 20%;
  overflow: scroll;
  box-shadow: 5px 5px 0px rgb(224, 217, 208);
}

#prev {
  grid-column: 3/5;
  grid-row: 4 span;
  margin: 5%;
  margin-top: 20%;
  box-shadow: 5px 5px 0px rgb(224, 217, 208);
  align-self: center;
}

#prevImage {
  max-width: 100%;
  max-height: 100px;
  margin: 'auto';
  margin-bottom: 10%;
}

ul {
  list-style: none;
}

li:hover {
  cursor: pointer;
  background-color: rgba(214, 214, 214, 0.603);
}

li {
  margin: 2%;
  border-radius: 3%;
  border-bottom: 1px dotted rgb(224, 217, 208);
}

#contactHead {
  grid-row: 1;
  grid-column: 3 span;
}

#contactBox {
  grid-column: 4;
  max-width: 100%;
}

#info {
  grid-row: 2/5;
  grid-column: 1/4;
  margin: auto;
  padding: 10%;
}

.socials {
  margin: 2%;
  padding-top: 3%;
}

.socials:hover {
  cursor: pointer;
}

#small {
  display: none;
}
/* mobile screen */

@media only screen and (max-width: 600px){
 #me {
   display: none;
 }
 .head {
  grid-row: 2/3;
  grid-column: 10 span;
  margin: auto;
  padding-top: 3%;
  position: relative;
  font-size: 300%;
 }

 #head2 {
   font-size: 150%;
 }

 .menu {
   grid-row: 1;
   grid-column: 10 span;
   margin-top: 5%;
   display: flex;
   flex-direction: row;
   align-self: center;
 }

 .links {
   margin: 2%;
   padding: 2%;
 }

 .displayBox {
   grid-column: 10 span;
   grid-row: 3/11;
   margin: 3%;
 }

 #dogDiv {
  border: none;
 }

 #small {
   display: block;
 }

 #big {
   display: none;
 }
}
/* teeny screen */
@media only screen and (max-width: 320px){
  .links {
    font-size: small;
  }

}