.menuItem:hover {
  color: #9ac6c8ff;
}

.ant-menu-item a:hover {
  color: #9ac6c8ff;
}

.ant-card-bordered {
  border: none;
}

a {
  color: rgb(108, 152, 155);
}
a:hover {
  font-weight: 700;
  color: rgb(108, 152, 155);
}
.ant-btn {
  border: 0.5px solid white;
}

.ant-btn:hover {
  color: white;
  --antd-wave-shadow-color: rgb(0, 0, 0);
  border: 0.5px solid black;
}

.projectImage {
  opacity: 0.75;
  border-radius: 1px;
}
.projectImage:hover {
  opacity: 1;
}

.projectDetails {
  background-image: url(./images/dndluxe.png);
}
