.App {
  text-align: center;
  display: grid;
  grid-template: repeat(10, 10%)/ repeat(10, 10%);
  height: 100vh;
  font-family: 'Darker Grotesque', sans-serif;
}

.temp {
  font-family: 'Darker Grotesque', sans-serif;
}

h1 {
  grid-row: 2;
  grid-column: 10 span;

}

#homeLink {
  grid-row: 4;
  grid-column: 3/9;
}
.head {
  grid-row: 1;
  grid-column: 10 span;
  opacity: .75;
  font-size: 350%;
}
.displayBox {
  background-color: linen;
  grid-row: 3/9;
  grid-column: 3/10;
  display: grid;
  grid-template: repeat(5, 20%)/ repeat(4, 25%);
  border-radius: 10px 15px 10px 15px;
  box-shadow: 5px 5px 0px rgb(206, 200, 193);
}

.menu {
  justify-self: center;
  background-color: rgb(250, 245, 241);
  grid-row: 4/7;
  grid-column: 2 span;
  overflow: scroll;
  width: 80%;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 5px 5px 0px rgb(206, 200, 193);
}

.links {
  text-decoration: none;
  color: black;
}

img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 8%;
}

#me {
  padding: 5%;
}

#desc {
  grid-column: 2/5;
  grid-row: 1/3;
  margin: 5%;
  padding: 2%;
  overflow: scroll;
  border-radius: 10%;
  text-justify: auto;
  text-align: center;
  opacity: .7;
  border-radius: 2%;
  border: 1px solid rgb(167, 166, 166);
}

h2 {
  grid-row: 3;
  text-align: center;
  grid-column: 4 span;
  opacity: .5;
  font-size: 205%;
}

#dogDiv {
  grid-row: 4/6;
  margin-right: 2%;
  margin-left: 2%;
  margin-bottom: 2%;
  grid-column: 4 span;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  border: solid 2px;
  border-radius: 2%;
}

.scrollItem {
  display: inline-block;
  margin-left: 2px;
  margin-right: 2px;
}

.dog {
  max-height: 22vh;
}

#projectWheel {
  grid-column: 2 span;
  grid-row: 4 span;
  border: solid black 5px;
  margin: 5%;
  overflow: scroll;
  border-radius: 10%;
}

#prev {
  grid-column: 3/5;
  grid-row: 4 span;
  border: solid black 5px;
  margin: 5%;
  overflow: scroll;
  border-radius: 10%;
}